Repository dansdata-se/backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, just --fmt --justfile

feat(db/translations): add first implementation of translations schema
  src/db/migrations/committed/000002.sql
  src/db/migrations/docker-entrypoint-initdb.d/10_create_system_roles.sql
  src/db/migrations/fixtures/translations/languages/policies/grant_admin_access.sql
  src/db/migrations/fixtures/translations/languages/policies/grant_reader_access.sql
  src/db/migrations/fixtures/translations/languages/table_comments.sql
  src/db/migrations/fixtures/translations/metadata/policies/grant_editor_access.sql
  src/db/migrations/fixtures/translations/metadata/table_comments.sql
  src/db/migrations/fixtures/translations/metadata/triggers/delete_values_when_overridden.sql
  src/db/migrations/fixtures/translations/schema.sql
  src/db/migrations/fixtures/translations/translations/policies/grant_reader_access.sql
  src/db/migrations/fixtures/translations/translations/view.sql
  src/db/migrations/fixtures/translations/upsert_translations.sql
  src/db/migrations/fixtures/translations/values/policies/grant_editor_access.sql
  src/db/migrations/fixtures/translations/values/table_comments.sql
  src/db/migrations/fixtures/translations/values/triggers/prevent_insert_when_overridden.sql
Due: none

feat: add initial compose configuration for deployment
  .devcontainer/devcontainer.json
  .dockerignore
  bun.lockb
  justfile
  package.json
  secrets/development/app/APP_HOST
  secrets/development/gateway/GATEWAY_HOST
  src/app/Dockerfile
  src/app/docker-entrypoint.sh
  src/app/main.ts
  src/docker-compose.yml
  src/docker-helpers/file_env.sh
  src/gateway/Caddyfile
  src/gateway/Dockerfile
  src/gateway/docker-entrypoint.sh
Due: eslint --fix, prettier --write --ignore-unknown, just --fmt --justfile

build(db): migrate to postgres image for database
  .prettierignore
  src/db/Dockerfile
Due: none

feat(db): enable timescaledb extension
  src/db/Dockerfile
  src/db/migrations/docker-entrypoint-initdb.d/templates/create_extensions.sql
Due: none

fix(app): listen for sigterm
  src/app/main.ts
Due: eslint --fix, prettier --write --ignore-unknown

build(ignore): ignore dist/ folder
  .dockerignore
  .gitignore
  .prettierignore
Due: none

feat: configure database to support keycloak and add keycloak container
  .devcontainer/docker-compose.yml
  secrets/development/auth/KC_HOSTNAME
  secrets/development/auth/KEYCLOAK_ADMIN_PASSWORD
  secrets/development/auth/KEYCLOAK_ADMIN_USER
  secrets/development/db/DB_HOST
  secrets/development/db/DB_KEYCLOAK_PASSWORD
  secrets/development/db/DB_KEYCLOAK_USER
  src/app/Dockerfile
  src/app/healthcheck.sh
  src/auth/Dockerfile
  src/auth/docker-entrypoint.sh
  src/db/.db.justfile
  src/db/.gmrc
  src/db/Dockerfile
  src/db/healthcheck.sh
  src/db/migrations/committed/000003.sql
  src/db/migrations/docker-entrypoint-initdb.d/14_create_keycloak_user.sh
  src/db/migrations/docker-entrypoint-initdb.d/20_create_application_database.sh
  src/db/migrations/docker-entrypoint-initdb.d/99_apply_migrations.sh
  src/db/migrations/fixtures/keycloak/schema.sql
  src/docker-compose.yml
Due: none

build(docker): make IP config use envvars
  secrets/development/networks/private/NET_PRIVATE_GATEWAY
  secrets/development/networks/private/NET_PRIVATE_IP_RANGE
  secrets/development/networks/private/NET_PRIVATE_SUBNET
  secrets/development/vpn/VPN_SUBNET
  src/docker-compose.yml
  src/gateway/Caddyfile
  src/gateway/docker-entrypoint.sh
Due: none

feat: configure keycloak container
  justfile
  secrets/development/DOMAIN_ADMIN_DANSDATA
  secrets/development/DOMAIN_API_DANSDATA
  secrets/development/app/DOCKER_DANCE_API_HOST
  secrets/development/auth/DOCKER_KEYCLOAK_HOST
  secrets/development/auth/KC_HOSTNAME
  secrets/development/auth/KC_HOSTNAME_ADMIN
  secrets/development/db/DOCKER_DATABASE_HOST
  secrets/development/gateway/GATEWAY_HOST
  src/app/docker-entrypoint.sh
  src/app/healthcheck.sh
  src/app/main.ts
  src/auth/Dockerfile
  src/auth/docker-entrypoint.sh
  src/db/.db.justfile
  src/db/healthcheck.sh
  src/docker-compose.yml
  src/gateway/Caddyfile
  src/gateway/docker-entrypoint.sh
Due: eslint --fix, prettier --write --ignore-unknown, just --fmt --justfile

feat(keycloak): add realm "dansdata"
  src/auth/Dockerfile
  src/auth/realms/dansdata.json
  src/docker-compose.yml
Due: none

build(docker): support start/stop/restart of individual containers
  justfile
Due: just --fmt --justfile

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write --ignore-unknown: any of: *.{js,ts}
  just --fmt --justfile: any of: {justfile,.justfile}
